@using Microsoft.AspNetCore.Http;
@{
    var chats = ViewBag.Userchatlist as List<Chat>;
    var ChatQaHistory = ViewBag.ChatQaHistory as List<Qahistory>;
    var Userappname = Context.Session.GetString("Userchoosename");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <a class="btn btn-danger col-3 d-flex align-items-center justify-content-center position-absolute"
       style="height: 75px;width: 75px;top: 0px;left: 0px; z-index: 2;">
        <img src="https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/playlist_list_menu_options-3-256.png" alt="" class="w-100" id="list">
    </a>
    <div class="row w-100 m-0 " style=" height:100vh;">
        <div class="col-md-4 row flex-column m-0 p-0 align-items-center h-100 flex-nowrap" id="leftbar">
            <div class="d-flex row justify-content-end p-0" style="height: 75px;margin-bottom:10px;">

                <a class="btn btn-danger col-8 me-3" style="font-size: 2em; ">回首頁</a>
            </div>
            <div style="height:calc(100% - 85px);" class="rounded-4 bg-primary d-flex flex-column p-0">
                <div class="overflow-y-scroll px-2 border-bottom border-dark" style="height: 75%;">
                    <a id="createbtn" class=" btn btn-secondary w-100 rounded-5 d-flex align-items-center justify-content-center x-2"
                       style="font-size: 2em; height: 80px; margin-top: 10px;">
                        <p class="m-0">+ 新增聊天室</p>
                    </a>
                    @foreach (var chat in chats)
                    {
                        <a class="btn btn-secondary w-100 rounded-5 d-flex align-items-center justify-content-center x-2 chat-button"
                           style="font-size: 2em; height: 80px; margin-top: 10px;"
                           data-id="@chat.ChatId">
                            @chat.ChatName
                        </a>
                    }
                </div>

                <div class="px-2 pe-4">
                    <a class="btn btn-light w-100 rounded-5"
                       style="font-size: 2em; height: 80px; margin-top: 20px;"></a>
                    <a asp-action="Chooseapp" asp-controller="User" class="btn btn-light w-100 rounded-5 d-flex align-items-center justify-content-center"
                       style="font-size: 2em; height: 80px; margin-top: 10px;">
                        <p class="m-0">@Userappname</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col px-0 h-100">
            <div class=" bg-body-secondary rounded-4 overflow-y-scroll" style="height: 91%;">
                <!--問-->
                <div class="chat-content w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                    
                </div>
                @foreach(var item in ChatQaHistory)
                {
                    <div class="chat-content w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                        <p class="m-0 h1">問</p>
                        <p class="m-0 h4 mt-3">
                           @item.QahistoryQ
                        </p>
                    </div>
                    <div class="chat-content w-100 bg-body-secondary p-5 d-flex flex-column" style="height:auto">
                        <p class="m-0 h1">答</p>
                        <p class="m-0 h4 mt-3">
                            @item.QahistoryA
                        </p>
                    </div>
                }
               

            </div>
                
            
            <div class="row w-100 m-0 px-2 align-items-center justify-content-center bg-secondary" style="height: 8vh;">
                <div class="col p-0 h-75">
                    <textarea name="question" type="text" class="w-100 h-100" style="font-size: 6vh;resize:none;line-height: 6vh;" rows="3" placeholder="Please Enter The Question"></textarea>
                </div>
                <div class="col-3 p-0 h-75">
                    <button id="sendout" type="submit" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center" style="font-size: 2rem;">
                        <p class="m-0 p-0">送出</p>
                    </button>
                </div>
            </div>
            

            @*<div class="row w-100 m-0 px-2 align-items-center justify-content-center bg-secondary" style="height: 8vh;">
                <div class="col p-0 h-75">
                    <textarea type="text" class="w-100 h-100" style="font-size: 6vh;resize:none;line-height: 6vh;" rows="3" placeholder="Please Enter The Question"></textarea>
                </div>
                <div class="col-3 p-0 h-75">
                    <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center"
                       style="font-size: 2rem;">
                        <p class="m-0 p-0">送出</p>
                    </a>
                </div>
            </div>*@

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        document.getElementById('list').addEventListener('click', function () {
            var leftbar = document.getElementById('leftbar');
            leftbar.classList.toggle('d-none');
        });

        $(document).ready(function () {
            $('#sendout').click(function () {
                var question = $('textarea[name="question"]').val();
                $.ajax({
                    url: '/User/qainput',
                    type: 'post',
                    data: { 'question': question },
                    success: function (response) {
                        console.log(response);
                        // 你可能需要適當地修改此處的代碼，以符合你的需求
                        $('#response-container').text(response);
                    }
                });
            });
        });


        $(document).ready(function () {
            $("#createbtn").click(function (e) {
                console.log("click");
                e.preventDefault();
                $.ajax({
                    url: '/User/Creatchat', // Replace 'YourControllerName' with the actual name of your controller
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        var newChat = `<a class="btn btn-secondary w-100 rounded-5 d-flex align-items-center justify-content-center x-2 chat-button"
                                                style="font-size: 2em; height: 80px; margin-top: 10px;"
                                                data-id="${data.chatId}">
                                                ${data.chatName}
                                            </a>`;
                        $("#createbtn").after(newChat);
                        $(".chat-content").empty();
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".chat-button").click(function (e) {
                e.preventDefault();
                var chatId = $(this).data("id");
                $.ajax({
                    url: '/User/GetChatHistory',
                    type: 'POST',
                    data: { id: chatId },
                    success: function (data) {
                        // 清空現有的對話
                        $(".chat-content").empty();
                        console.log(data)
                        // 添加新的對話
                        data.forEach(item => {
                            console.log(item);
                            
                            var questionDiv = `
                                        <div class=" w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                                    <p class="m-0 h1">問</p>
                                            <p class="m-0 h4 mt-3">${item['qahistoryQ']}</p>
                                </div>`;
                            var answerDiv = `
                                        <div class=" w-100 bg-body-secondary p-5 d-flex flex-column" style="height:auto">
                                    <p class="m-0 h1">答</p>
                                            <p class="m-0 h4 mt-3">${item['qahistoryA']}</p>
                                </div>`;

                            $(".chat-content").append(questionDiv);
                            $(".chat-content").append(answerDiv);
                        });
                    }
                });
            });
        });


    </script>
</body>

</html>